<%= form_for [@restaurant, @reservation], html: { multipart: true } do |f| %>

<div>
  <div class="field">
    <%= f.label :begin_time %> <br>
    <%= f.time_select :begin_time, :ampm => true, :minute_step => 15, :begin_hour => 11, :end_hour => 20 %>
  </div>

  <div class="form_field">
          <%= f.label :people %> <br>
          <%= f.number_field :people %>
  </div>
<br>
  <div class="action">
    <%= f.submit %>
  </div>

<% end %>
</div>


<br>
<div>
  <p>or</p>
  <%= link_to "Return to Restaurants", restaurants_path, class: "h5"  %>
</div>
