	
<h1>List of Restaurants</h1>

<%= link_to "Add a New Restaurant", new_restaurant_path %>
<br>
<br>
	<div class="wrapper">
		<% @restaurants.each do |restaurant| %>
		<div class="pin">
			<%= link_to image_tag(restaurant.photo.url(:thumb)), "/restaurants/#{restaurant.id}" %>
		<li><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %> 
			<%= restaurant.category.name %>
			<%= restaurant.neighbourhood %>
			<%= restaurant.address %>

			
		</div>	
		<% end %>
	</div>
	
	

<ul class="list" id="container">
  
  
  <li class="item" id="cocolo" data-type="asian" data-area="mitte prenzlberg">
    

    <div class="top">
      <span class="star">&#9733;</span>
      <div class="headline">
            <a href="http://unlike.net/berlin/food/cocolo">
    <h1>Cocolo</h1>
    <h3>Japanese (Ramen Bar)</h3>
    </a>
      </div>
    </div>
    <p class="desc">
      The best food in Berlin. Small, cramped, and delicious. You have never had ramen like this in the US. Next to Kuchi Mitte. Wonderfully nice staff.
    </p>
    <ul class="notes">
      <li class="cost">€€</li>
      <li>Opens at 6pm</li>
      <li>No reservations</li>
      <li>More than 4 people? Don't even try</li>
    </ul>
    <a class="map-open">view map</a>
    <div class="map-overlay">
      
    <div class="address">
      <a class="map-close" title="close map"></a>
      <p>
        <span>GipsStraße 3</span>
        <span>Mitte</span>
      </p>
    </div>
      <div class="map-wrap">
<iframe class="iframe" frameborder="0" height="0" width="0" scrolling="no" marginheight="0" marginwidth="0" src="" data-src="https://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=cocolo+ramen+berlin&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=41.95363,79.013672&amp;ie=UTF8&amp;hq=cocolo+ramen&amp;hnear=Berlin,+Germany&amp;t=m&amp;ll=52.52724,13.3992&amp;spn=0.018276,0.036392&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
        <span class="spinner"></span>
      </div>
    </div>
    
  </li>
  