<h2><%= @restaurant.name %> </h2>

<div class="col-xs-5">
        <%= image_tag @restaurant.photo.url(:large) %>

  <div class="col-xs-12" >
    <h4>Restaurant Summary:</h4> <br>
   Type of Food: <%= @restaurant.category.name %> <br>
   Neighbourhood: <%= @restaurant.neighbourhood %> <br>
   Address: <%= @restaurant.address %> <br>
   Capacity: <%= @restaurant.capacity %> <br>
   Description: <%= @restaurant.description %> <br>
    Price: <%= @restaurant.price %> <br>
  </div>
</div>

<div class="col-xs-5">
  <div class="reservation">
    <h4> Make a Reservation for <%= @restaurant.name %> </h4>
    <%= render "reservations/form"%>
  </div>
</div>

<div class="col-xs-10">
    <p>Reviews for <%= @restaurant.name %></p>
    <%= @restaurant.reviews.each do |review| %>
      
      <div class="review">
        <p>
          <%= review.comment %>
          <br>
          <% if review.user != nil %>
          <em> by <%= review.user.name %></em>
          Added on: <%= review.created_at %>
          <% end %>
        </p>
      </div>
    <% end %>

    <h4>New Review</h4>
    <%= render "reviews/form" %>
</div>
