<!DOCTYPE html>
<html>
<head>
  <title>Seatyourself</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body class="landing site">
	  <%= render 'layouts/header' %>
	<div>
		<p id="notice"><%= flash[:notice] %></p>
		<p id="alert"><%= flash[:alert] %></p>
	</div>
	
	<div class="container">	
		<%= yield %>
		 <!-- debug(params) if Rails.env.development?  -->
	</div>
<!--   <%= render 'layouts/footer' %> -->
</body>
</html>
